@import url('https://fonts.googleapis.com/css?family=Poppins');

/*********************************************************************************************************************/
/* RESET
/*********************************************************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, address, section, video, audio {
    font-family            : inherit;
    font-size              : 100%;
    font-style             : inherit;
    font-weight            : inherit;
    line-height            : inherit;
    border                 : 0;
    outline                : 0;
    -webkit-font-smoothing : antialiased;
    -ms-word-wrap          : break-word;
    word-wrap              : break-word;
}
html, body {
    margin  : 0;
    padding : 0;
    width   : 100%;
}
html {
    height                      : 100%;
    font-size                   : 100%;
    overflow-y                  : scroll !important;
    overflow-x                  : hidden;
    -webkit-text-size-adjust    : 100%;
    -ms-text-size-adjust        : 100%;
    -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
}
body {
    position    : relative;
    font-size   : 14px;
    font-family : 'Poppins', sans-serif;
}

h1
{
    font-size: 1.5em;
    margin: 1em 0;
}

.planning-header,.planning-item
{
    margin: 0 1em;
    line-height: 2.2em;
}

.planning-item-exception
{
    margin: 0 1em;
    line-height: 1.4em;
}

.planning-header > .col , .planning-header > .col-2
{
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: solid 1px #666666;
}

.planning-item > .col,.planning-item > .col-2,.planning-item-exception > .col-7
{
    font-size: 0.9em;
    border-bottom: solid 1px #AAAAAA;
}

.planning-item-exception > .col-7
{
    background-color: #797979;
    color: white;
    border-radius: 0 0 2em 2em;
    border-bottom: solid 1px transparent;
}

.planning-item > .col > .badge
{
    font-size: 1em;
    font-weight: normal;
    padding: 0.4em 0.9em;
}

.planning-item .planning-item-name
{
    cursor: pointer;
}

.planning-header > .col.current,.planning-item > .col.current
{
    color: #ff8400;
}

.spinner
{
    display: block;
    margin: 0 auto;
}

.form-check
{
    margin-top: .4em;
}